### Reading data from api
- This script will help me to understand about the data - if the data types are proper and other things.
- I will also store my API keys generated for this project in .env file in the same folder where I will write this code.

In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
from sodapy import Socrata
import datetime

In [2]:
load_dotenv()

True

In [3]:
api_key = os.getenv("api_token")

In [4]:
print(f"API Key: {api_key}")

API Key: gNWkcS2ktgqt23MYM4cVzYmCb

In [5]:
# Reading only sample data
client = Socrata("data.cityofnewyork.us", api_key)

results = client.get("8h9b-rp9u", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [6]:
results_df.head()

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,...,x_coord_cd,y_coord_cd,latitude,longitude,lon_lat,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih
0,279738730,2023-12-31T00:00:00.000,905,"INTOXICATED DRIVING,ALCOHOL",347,INTOXICATED & IMPAIRED DRIVING,VTL11920U2,M,Q,115,...,1018842,214963,40.7566325691504,-73.87513950341157,"{'type': 'Point', 'coordinates': [-73.87513950...",14783,65,3,5,73
1,279763502,2023-12-31T00:00:00.000,779,"PUBLIC ADMINISTRATION,UNCLASSI",126,MISCELLANEOUS PENAL LAW,PL 215510B,F,B,41,...,1015482,237651,40.81892,-73.887162,"{'type': 'Point', 'coordinates': [-73.887162, ...",12343,8,5,43,24
2,279739169,2023-12-31T00:00:00.000,397,"ROBBERY,OPEN AREA UNCLASSIFIED",105,ROBBERY,PL 1601001,F,B,48,...,1015722,246426,40.843004,-73.886251,"{'type': 'Point', 'coordinates': [-73.886251, ...",11269,35,5,43,31
3,279757492,2023-12-31T00:00:00.000,339,"LARCENY,PETIT FROM OPEN AREAS,",341,PETIT LARCENY,PL 1552500,M,M,18,...,990755,215975,40.759476,-73.976517,"{'type': 'Point', 'coordinates': [-73.976517, ...",12419,11,4,51,10
4,279762522,2023-12-31T00:00:00.000,802,ALCOHOLIC BEVERAGE CONTROL LAW,346,ALCOHOLIC BEVERAGE CONTROL LAW,ABC0106012,M,Q,103,...,1050208,199279,40.713406,-73.762077,"{'type': 'Point', 'coordinates': [-73.762077, ...",24332,41,3,16,61

In [7]:
results_df.columns

Index(['arrest_key', 'arrest_date', 'pd_cd', 'pd_desc', 'ky_cd', 'ofns_desc',
       'law_code', 'law_cat_cd', 'arrest_boro', 'arrest_precinct',
       'jurisdiction_code', 'age_group', 'perp_sex', 'perp_race', 'x_coord_cd',
       'y_coord_cd', 'latitude', 'longitude', 'lon_lat',
       ':@computed_region_efsh_h5xi', ':@computed_region_f5dn_yrer',
       ':@computed_region_yeji_bk3q', ':@computed_region_92fq_4b7q',
       ':@computed_region_sbqj_enih'],
      dtype='object')

In [8]:
# Drop all columns that start with ":@computed_region"
results_df = results_df.loc[:, ~results_df.columns.str.startswith(":@computed_region")]

In [9]:
print(results_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   arrest_key         2000 non-null   object
 1   arrest_date        2000 non-null   object
 2   pd_cd              2000 non-null   object
 3   pd_desc            2000 non-null   object
 4   ky_cd              2000 non-null   object
 5   ofns_desc          2000 non-null   object
 6   law_code           2000 non-null   object
 7   law_cat_cd         1997 non-null   object
 8   arrest_boro        2000 non-null   object
 9   arrest_precinct    2000 non-null   object
 10  jurisdiction_code  2000 non-null   object
 11  age_group          2000 non-null   object
 12  perp_sex           2000 non-null   object
 13  perp_race          2000 non-null   object
 14  x_coord_cd         2000 non-null   object
 15  y_coord_cd         2000 non-null   object
 16  latitude           2000 non-null   object
 17  longitude          2000 non-null   object
 18  lon_lat            2000 non-null   object
dtypes: object(19)
memory usage: 297.0+ KB
None

In [10]:
# Thus we need to convert column data types 
# Convert to numeric (integer or float as appropriate) where necessary
results_df['arrest_precinct'] = pd.to_numeric(results_df['arrest_precinct'], errors='coerce')  # Coerce errors to NaN
results_df['jurisdiction_code'] = pd.to_numeric(results_df['jurisdiction_code'], errors='coerce')
results_df['x_coord_cd'] = pd.to_numeric(results_df['x_coord_cd'], errors='coerce')
results_df['y_coord_cd'] = pd.to_numeric(results_df['y_coord_cd'], errors='coerce')
results_df['latitude'] = pd.to_numeric(results_df['latitude'], errors='coerce')
results_df['longitude'] = pd.to_numeric(results_df['longitude'], errors='coerce')
results_df['pd_cd'] = pd.to_numeric(results_df['pd_cd'], errors='coerce')
results_df['ky_cd'] = pd.to_numeric(results_df['ky_cd'], errors='coerce')

# Convert to datetime (timestamp)
results_df['arrest_date'] = pd.to_datetime(results_df['arrest_date'], errors='coerce')  # Coerce invalid dates to NaT

In [11]:
print(results_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   arrest_key         2000 non-null   object
 1   arrest_date        2000 non-null   datetime64[ns]
 2   pd_cd              2000 non-null   int64
 3   pd_desc            2000 non-null   object
 4   ky_cd              2000 non-null   int64
 5   ofns_desc          2000 non-null   object
 6   law_code           2000 non-null   object
 7   law_cat_cd         1997 non-null   object
 8   arrest_boro        2000 non-null   object
 9   arrest_precinct    2000 non-null   int64
 10  jurisdiction_code  2000 non-null   int64
 11  age_group          2000 non-null   object
 12  perp_sex           2000 non-null   object
 13  perp_race          2000 non-null   object
 14  x_coord_cd         2000 non-null   int64
 15  y_coord_cd         2000 non-null   int64
 16  latitude           2000 non-null   float64
 17  longitude          2000 non-null   float64
 18  lon_lat            2000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(10)
memory usage: 297.0+ KB
None

In [12]:
results_df.head()

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,lon_lat
0,279738730,2023-12-31,905,"INTOXICATED DRIVING,ALCOHOL",347,INTOXICATED & IMPAIRED DRIVING,VTL11920U2,M,Q,115,0,18-24,M,WHITE HISPANIC,1018842,214963,40.756633,-73.875140,"{'type': 'Point', 'coordinates': [-73.87513950..."
1,279763502,2023-12-31,779,"PUBLIC ADMINISTRATION,UNCLASSI",126,MISCELLANEOUS PENAL LAW,PL 215510B,F,B,41,0,25-44,M,BLACK HISPANIC,1015482,237651,40.818920,-73.887162,"{'type': 'Point', 'coordinates': [-73.887162, ..."
2,279739169,2023-12-31,397,"ROBBERY,OPEN AREA UNCLASSIFIED",105,ROBBERY,PL 1601001,F,B,48,1,18-24,M,BLACK,1015722,246426,40.843004,-73.886251,"{'type': 'Point', 'coordinates': [-73.886251, ..."
3,279757492,2023-12-31,339,"LARCENY,PETIT FROM OPEN AREAS,",341,PETIT LARCENY,PL 1552500,M,M,18,0,25-44,M,WHITE HISPANIC,990755,215975,40.759476,-73.976517,"{'type': 'Point', 'coordinates': [-73.976517, ..."
4,279762522,2023-12-31,802,ALCOHOLIC BEVERAGE CONTROL LAW,346,ALCOHOLIC BEVERAGE CONTROL LAW,ABC0106012,M,Q,103,0,25-44,F,ASIAN / PACIFIC ISLANDER,1050208,199279,40.713406,-73.762077,"{'type': 'Point', 'coordinates': [-73.762077, ..."

**Combining eveything we did above and trying to pull data monthly**

In [25]:
# doing for a month 
query= "arrest_date >= '2023-12-01T00:00:00.000' AND arrest_date < '2024-01-01T00:00:00.000'"

In [26]:

client = Socrata("data.cityofnewyork.us", api_key)

results = client.get("8h9b-rp9u", where=query)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [27]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   arrest_key         1000 non-null   object
 1   arrest_date        1000 non-null   object
 2   pd_cd              1000 non-null   object
 3   pd_desc            1000 non-null   object
 4   ky_cd              1000 non-null   object
 5   ofns_desc          1000 non-null   object
 6   law_code           1000 non-null   object
 7   law_cat_cd         992 non-null    object
 8   arrest_boro        1000 non-null   object
 9   arrest_precinct    1000 non-null   object
 10  jurisdiction_code  1000 non-null   object
 11  age_group          1000 non-null   object
 12  perp_sex           1000 non-null   object
 13  perp_race          1000 non-null   object
 14  x_coord_cd         1000 non-null   object
 15  y_coord_cd         1000 non-null   object
 16  latitude           1000 non-null   object
 17  longitude          1000 non-null   object
 18  lon_lat            1000 non-null   object
dtypes: object(19)
memory usage: 148.6+ KB

In [28]:
results_df.head()

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,lon_lat
0,278331491,2023-12-01T00:00:00.000,439,"LARCENY,GRAND FROM OPEN AREAS, UNATTENDED",109,GRAND LARCENY,PL 1553001,F,K,61,0,25-44,M,WHITE,995118,155708,40.594054,-73.960866,"{'type': 'Point', 'coordinates': [-73.960866, ..."
1,278329886,2023-12-01T00:00:00.000,259,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",351,CRIMINAL MISCHIEF & RELATED OF,PL 1450001,M,K,69,0,25-44,F,BLACK,1015441,169530,40.631944,-73.887623,"{'type': 'Point', 'coordinates': [-73.887623, ..."
2,278363923,2023-12-01T00:00:00.000,729,"FORGERY,ETC.,UNCLASSIFIED-FELO",113,FORGERY,PL 1702500,F,Q,110,0,25-44,M,WHITE HISPANIC,1024370,213199,40.75177,-73.855195,"{'type': 'Point', 'coordinates': [-73.855195, ..."
3,278323912,2023-12-01T00:00:00.000,109,"ASSAULT 2,1,UNCLASSIFIED",106,FELONY ASSAULT,PL 1200512,F,K,61,0,25-44,M,WHITE,996842,159679,40.604952,-73.954651,"{'type': 'Point', 'coordinates': [-73.954651, ..."
4,278338051,2023-12-01T00:00:00.000,637,"HARASSMENT,SUBD 1,CIVILIAN",578,HARRASSMENT 2,PL 2402601,V,K,84,0,45-64,F,WHITE HISPANIC,987295,190704,40.690115,-73.989019,"{'type': 'Point', 'coordinates': [-73.989019, ..."

In [29]:
# Convert to numeric (integer or float as appropriate) where necessary
results_df['arrest_precinct'] = pd.to_numeric(results_df['arrest_precinct'], errors='coerce')  # Coerce errors to NaN
results_df['jurisdiction_code'] = pd.to_numeric(results_df['jurisdiction_code'], errors='coerce')
results_df['x_coord_cd'] = pd.to_numeric(results_df['x_coord_cd'], errors='coerce')
results_df['y_coord_cd'] = pd.to_numeric(results_df['y_coord_cd'], errors='coerce')
results_df['latitude'] = pd.to_numeric(results_df['latitude'], errors='coerce')
results_df['longitude'] = pd.to_numeric(results_df['longitude'], errors='coerce')
results_df['pd_cd'] = pd.to_numeric(results_df['pd_cd'], errors='coerce')
results_df['ky_cd'] = pd.to_numeric(results_df['ky_cd'], errors='coerce')

# Convert to datetime (timestamp)
results_df['arrest_date'] = pd.to_datetime(results_df['arrest_date'], errors='coerce')  # Coerce invalid dates to NaT

In [30]:
# converting this data to parquet
results_df.to_parquet('nypd_test_data.parquet', engine='pyarrow')

In [31]:
check_df = pd.read_parquet('nypd_test_data.parquet', engine='pyarrow')

In [32]:
check_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   arrest_key         1000 non-null   object
 1   arrest_date        1000 non-null   datetime64[ns]
 2   pd_cd              1000 non-null   int64
 3   pd_desc            1000 non-null   object
 4   ky_cd              1000 non-null   int64
 5   ofns_desc          1000 non-null   object
 6   law_code           1000 non-null   object
 7   law_cat_cd         992 non-null    object
 8   arrest_boro        1000 non-null   object
 9   arrest_precinct    1000 non-null   int64
 10  jurisdiction_code  1000 non-null   int64
 11  age_group          1000 non-null   object
 12  perp_sex           1000 non-null   object
 13  perp_race          1000 non-null   object
 14  x_coord_cd         1000 non-null   int64
 15  y_coord_cd         1000 non-null   int64
 16  latitude           1000 non-null   float64
 17  longitude          1000 non-null   float64
 18  lon_lat            1000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(10)
memory usage: 148.6+ KB